---
layout: default
title: ynchuan的前端学习记录
---
<style>
	@font-face {
	font-family: 'octicons';
	src: url(/blog/img/octicons.eot?#iefix) format("embedded-opentype"),url(/blog/img/octicons.woff) format("woff"),url(/blog/img/octicons.ttf) format("truetype"),url(/blog/img/octicons.svg#octicons) format("svg");
	font-weight: normal;
	font-style: normal
	}
	h2 a:before {content: "\f05c";font: normal normal normal 16px/1 octicons;
	display: inline-block;
	text-decoration: none;}
	li {padding-bottom: 5px;}
</style>
<h1>{{ page.title }}</h1>
{% for category in site.categories %}
	<h2>{{ category | first }} <a href="#{{ category | first }}"></a></h2>
	<ul class="arc-list">
		{% for post in category.last %}
			<li>{{ post.date | date:"%Y-%m-%d"}} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
{% endfor %}
<h4>分类列表</h4>
<hr>
<ul class="categories_list">
	{% for category in site.categories %}
		<li class="category_list_item">
			<a href="./showCategory.html?categoryName={{ category | first }}">
			{{ category | first }}</a> ({{ category | last | size }})
		</li>
	{% endfor %}
</ul>

<h4>主页列表</h4>
<hr>
<ul class="categories_list">
	{% for post in site.posts %}
		<li>{{ post.date | date:"%Y-%m-%d"}} 
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			<span class="sp-tag">{{ post.tags }}-{{post.categories}}</span>
			<span class="sp-tag">{{ post.date | date:"%Y-%m-%d"}}</span>
			<span class="sp-tag">{{ post.path}}</span>
			<span class="sp-tag">{{ post.url}}</span>
			<span class="sp-tag">{{ post.id}}</span>
			 
			<p class="p">
				{{post.excerpt}}
			</p>
		</li>
	{% endfor %}
</ul>


 {% for page in (1..paginator.total_pages) %}  
    {% if page == 1 %}  
        <a href="./">{{ page }}</a>  
    {% else %}  
        <a href="{{ site.paginate_path | replace: ':num',page }}">{{ page }}</a>  
    {% endif %}  
{% endfor %}
<br>
{% for post in paginator.posts %}  
    <a href="{{ post.url }}">{{ post.title }}</a>  
{% endfor %} 
<br> 
{% if paginator.total_pages > 1 %}  
    {% if paginator.previous_page %}  
        <a href="{{ paginator.previous_page_path }}">上一页</a>  
    {% endif %}  
      
    {% if paginator.next_page %}  
        <a href="{{ paginator.next_page_path }}">下一页</a>  
    {% endif %}  
{% endif %}  


