---
layout: default
title: Catagory
permalink: /catagory.html 
---
<div class="d-tags"> 
  <div class="d-tag-list">
    {% for tag in site.categories %}
      <div class="d-tag-group">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}
        <h3 id="#{{ tag_name | slugize }}" class="h3-tag-tt">
        {{ tag_name }}
        </h3>
        {% for post in site.categories[tag_name] %}
        <div class="d-post-item">
          <span class="span-post-date">{{ post.date | date:"%b %-d, %Y"}}</span>
          <h4 class="h4-post-tt">
          <a href="{{ post.url |prepend:site.baseurl}}">{{post.title}}</a>
          </h4>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>