<footer class="site-footer">
    <div class="wrapper">
        <h2 class="footer-header">{{ site.title }}</h2>
        <div class="footer-content">
            <ul class="footer-ul">
                <li class="footer-li">YnChuan Personal Blog</li>
                <li class="footer-li">
                    <a href="mailto:{{ site.email }}" class="a-link">{{ site.email }}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{"/assets/js/lib/jquery-1.7.2.min.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/lib/html5shiv.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/lib/json2.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/jquery-tooltipster.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/jquery-pjax.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/pace.min.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/jquery-autocomplete.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/responsive_waterfall.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/jquery.lazyload.min.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/main.js"|prepend: site.baseurl}}"></script>
<script id="dsq-count-scr" src="//ynchuan.disqus.com/count.js" async></script>
