<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>YnChuan Personal Blog</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer> 
<script type="text/javascript" src="{{"/assets/js/lib/jquery-1.7.2.min.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/lib/html5shiv.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/lib/json2.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/jquery-tooltipster.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/jquery-pjax.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/pace.min.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/jquery-autocomplete.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/responsive_waterfall.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/jquery.lazyload.min.js"|prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/assets/js/main.js"|prepend: site.baseurl}}"></script> 
<script type="text/javascript" src="{{"/assets/js/count.js"|prepend: site.baseurl}}" async></script>