.pagination {
    margin-top: 20px;
    padding-bottom: 40px;
}
.pagination span, .pagination a {
    font-size: 16px;
    background: #e8e8e8;
    padding: 5px 15px;
    border-radius: 3px;
    color: #969696;
}
.pagination span.previous, .pagination a.previous {
    float: left;
}
.pagination span.next, .pagination a.next {
    float: right;
}
.pagination a {
    color: #2F2F2F;
    border-color: #2F2F2F;
}