---
layout: default
---
<article class="site-post">
    <h1 class="post-header">
    <div class="fr">
        <i class="typico typcn typcn-messages"></i>
        <a class="a-comment-count" href="#disqus_thread">0</a>
    </div>
    {{ page.title }}
    </h1>
    <div class="post-content" itemprop="articleBody">
        {{ content}}
    </div>
    <div class="post-arrow">
        {% if page.next.url %}
            <a class="arrow-left typcn typcn-chevron-left" href="{{page.next.url|prepend:site.baseurl}}"></a>
        {% endif %}
        {% if page.previous.url %}
            <a class="arrow-right typcn typcn-chevron-right" href="{{page.previous.url|prepend:site.baseurl}}"></a>
        {% endif %}
    </div>
    <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" class="time-pub">
        <i class="typcn typcn-calendar-outline"></i>
        {{ page.date | date: "%b %-d, %Y" }}
        </time>|
        {% for tag in tags %}
            <a class="a-link" href="{{/tag.html#|prepend:site.baseurl}}{{tag|slugize}}}">
            <i class="typcn typcn-tags"></i> {{tag}}</a>
        {% endfor %}
    </p>
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () { 
    this.page.url = "{{site.hoster}}";
    this.page.identifier = "{{page.id}}";
    };
    
    // DON'T EDIT BELOW THIS LINE
    (function() {
    var d = document, s = d.createElement('script');
    s.src = '//ynchuan.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">commensts powered by Disqus.</a></noscript>
</article>